<html>
<link rel="stylesheet" type="text/css" href="/static/content/formularioIndex.css" />
<head>
</head>
<body>
    <div class="login">
        <div class="login-header">
            <h1>Sing Up</h1>
        </div>
        <div class="login-form">
            <h3>Usuario:</h3>
            <input type="text" placeholder="Escribe tu nombre de usuario" /><br>
            <h3>Email:</h3>
            <input type="text" placeholder="user@email.com" /><br>
            <h3>Password:</h3>
            <input type="password" placeholder="********" />
            <br><br><br>
            <b>
                <a href = ",/static/templates/indexLogIn.html" target="_self" class="sign-up">Ya tienes cuenta? Inicia sesión.</a>
            </b>
            <br>
            <div class="button">
                <div class="text">Log In</div>
            </div>
            <br>
        </div>
    </div>
</body>
</html>
